/* Contact Part */
.main {
  margin: 0;
  padding: 0;
  min-height: 90vh;
  background: linear-gradient(
    113deg,
    rgba(45, 30, 190, 1) 0%,
    rgba(52, 48, 60, 1) 50%,
    rgba(26, 26, 115, 1) 100%
  );
  display: block;
  padding-bottom: 2rem;
  text-transform: capitalize;
}

.main h4 {
  font-family: "Franklin Gothic Medium";
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.056rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.main p {
  font-family: Cambria;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.044rem;
  text-align: center;
  padding: 0.2rem 0rem;
}

.main p.email {
  margin: 0 auto;
  margin-top: 6rem;
  border-bottom: 1px solid white;
  text-align: left;
  width: 40%;
}

.main p.email span {
  width: 17px;
  height: 15px;
  float: right;
}

.main p.email span img {
  width: 17px;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .main p.email {
    width: 90%;
  }
}
