.loginbtn {
  padding: 8px 25px;
  background-color: #f44336;
  color: #edf0f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 450;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  opacity: 85%;
  align-content: center;
}
.header {
  margin: 0;
  padding: 2%;
  color: aliceblue;
}
@media screen and (max-width: 500px) {
  .header {
    padding: 6%;
    color: aliceblue;
  }
}
